{% extends 'app/base.html' %}
{%load static%}
{%load crispy_forms_tags%}

{% block contenido %}
    <form action="" method="POST" class="inicio-sesion">
        <div class="login">
          {% csrf_token %}

          <table class="t_login">
            {{ form|crispy }}
          </table>
          <input type="submit" class="submit" value="Iniciar Sesión">
          <input type="reset" class="submit" value="Limpiar">
          <a href="{% url 'registro_usuario' %}">¿No tienes cuenta?</a>
        </div>
    </form>
    {{ mensaje }}
{% endblock %}
