{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
    <form action="" method="POST" class="inicio-sesion">
        <div class="login">
            <h2 class="">Registrar nueva cuenta</h2>
          {% csrf_token %}

          <table>
            {{ form|crispy }}
          </table>
          <input type="submit" class="submit" value="Registrarse">
          <input type="reset" class="submit" value="Limpiar">
        </div>
    </form>
    {{ mensaje }}
{% endblock %}
