{% extends 'app/base.html' %}
{%load static%}

{% block contenido %}
    <form action="action_page.php" method="post" class="inicio-sesion">
        <div class="login">
          <label for="uname"><b>Número de socio</b></label>
          <input type="text" placeholder="Ingrese el número de socio de su tarjeta" name="uname" required>
      
          <label for="psw"><b>Contraseña</b></label>
          <input type="password" placeholder="Ingrese su Contraseña" name="psw" required>
      
          <button type="submit" class="submit" >Iniciar sesión</button>
          <button type="submit" class="submit">Registrarse</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Recordar mis datos de inicio de sesión
          </label>
        </div>
      
        <div class="login" style="background-color:#f1f1f1">
          <span class="psw">Olvidaste tu <a href="about.html">contraseña?</a></span>
        </div>
    </form>
{% endblock %}
