{% extends 'app/base.html' %}
{%load static%}

{% block contenido %}
    <form action="action_page.php" method="post">
        <div class="imgcontainer">
          <img src="{% static 'app/img/img_avatar2.png' %}" alt="Avatar" class="avatar">
        </div>
      
        <div class="login">
          <label for="uname"><b>Número de socio</b></label>
          <input type="text" placeholder="Ingrese el número de socio de su tarjeta" name="uname" required>
      
          <label for="psw"><b>Contraseña</b></label>
          <input type="password" placeholder="Ingrese su Contraseña" name="psw" required>
      
          <button type="submit">Iniciar sesión</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Recordar mis datos de inicio de sesión
          </label>
        </div>
      
        <div class="login" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancelar</button>
          <span class="psw">Olvidaste tu <a href="about.html">contraseña?</a></span>
        </div>
    </form>
{% endblock %}
