* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Header*/
nav{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(3, 7, 19);
    font-size: 20px;
    font-weight: bold;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    background-color: rgb(88, 175, 93);

    /*Flex*/
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: space-between;
    align-items: center;
}

.producto-btn{
    padding: 15px 30px;
    border-radius: 99px;
    background: #f85656;
}

.producto-btn:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}

.contacto-btn{
    padding: 15px 30px;
    border-radius: 99px;
    background: #f85656;
}

.contacto-btn:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}

.socio-btn{
    padding: 15px 30px;
    border-radius: 99px;
    background: #f85656;
}

.socio-btn:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}


header nav{
    /*Flex*/
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -moz-flex;
    display: -ms-flex; 
}

header nav li{
    margin: 0 15px;
}

input[name=search] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #f85656;
    border-radius: 99px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 6px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[name=search]:focus {
    width: 130%;
  }


/*Slider*/
.banner{
    margin: 0;
    background-color: white;
    padding-top: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.slider{
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.slider ul{
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -moz-flex;
    display: -ms-flex;  
    padding: 0;
    width: 500%;

    animation: cambio 15s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider ul li img{
    width: 90%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
    
} 


/*Catálogo*/


.wrap{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.wrap h1{
    color:#494B4D;
    font-weight: 400;
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -moz-flex;
    display: -ms-flex;  
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}

.wrap h1:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #C7C7C7;
    margin: 20px 0;
}

.products-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.products-list .product-item{
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.products-list .product-item img{
    width: 100%;
    border-radius: 20px;
}



.products-list .product-item a{
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #5a00afb2;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.products-list .product-item a:hover{
    background: #38006db2;;
}

footer {
    /* FLEX */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(88, 175, 93);
    color: black;
    padding: 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Style inputs with type="text", select elements and textareas */
.form input[name=about], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

  /* Style the submit button with a specific background color etc */
.form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  /* When moving the mouse over the submit button, add a darker green color */
.form input[type=submit]:hover {
    background-color: #45a049;
}

  /* Add a background color and some padding around the form */
.form {
    background-color: #f2f2f2;
    padding: 100px 60px;
}

.form h1 {
    text-align: center;
}

.form h3 {
    text-align: center;
}



/*LOGIN*/
/* Bordered form */
.inicio-sesion {
    border: 3px solid #f1f1f1;
    padding: 160px 90px;
}

.imgcontainer{
    width: 35%;
    padding: 0 60px;
}

  /* Full-width inputs */
.inicio-sesion input[name=uname], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Set a style for all buttons */
.submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

  /* Add a hover effect for buttons */
.submit:hover {
    opacity: 0.8;
}

  /* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

  /* Add padding to containers */
.contenedor {
    padding: 16px;
}

  /* The "Forgot password" text */
.action_page.php span .psw {
    float: right;
    padding-top: 16px;
}

.form form img{
    display: block;
    margin: auto;
}

  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }
    .cancelbtn {
    width: 100%;
    }

    .products-list .product-item a{
        font-size: 10px;
    }
}

/*Responsive*/

@media (max-width:1000px){
    header nav li a{
        font-size: 13px ;
    }

}


@media (max-width:600px){
    header{
        display: flex;
        flex-direction: column;
    }

    header nav li a{
        font-size: 15px;
    }


    .products-list .product-item a{
        font-size: 10px;
    }
}

@media (max-width:700px){
    header{
        display: flex ;
        flex-direction: column;
    }
    header nav{
        margin-top: 10px;
    }
    header .logo_principal img{
        width: 100%;
    }
    header nav li{
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .banner ul{
        margin-top: 50px;
        padding-top: 50px;
    }

    .page-content{
        padding-top: 100px;
    }

    .products-list .product-item a{
        font-size: 10px;
    }
}

/*Tienda*/

.page-content{
    margin: 150px 0px 150px 0px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    border: 1px red;
}

.precio{
    padding: 10px;
    background-color: #504f4f;
    color: #FFFFFF;
    text-align: center;
}


.product{
    background-color: rgb(88, 175, 93);
    padding: 2px 16px;
    margin: 15px;

}

.product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.nombre-producto{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
}

.page-content button {
    border-radius: 4px;
    background-color: #f85656;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    margin-left: 50px;
    align-items: center;
}

.page-content  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.page-content button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.page-content button:hover span {
    padding-right: 25px;
}

.page-content button:hover span:after {
    opacity: 1;
    right: 0;
}

.addProduct{
    background-color: #C7C7C7;
    display: flex;
    margin-top: 42px ;
    padding: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.addProduct .btn-limpiar{
    background-color: #0e69f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 4px;
}

.addProduct .btn-guardar{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 4px;
}


.botones{
    display: flex;
    padding: 5px;
    background-color: rgb(77, 155, 81);
    border: none;
    border-radius: 4px;
    justify-content: space-evenly;
    text-align: center;
}


.modify{
    background-color: #04aff3;
    color: white;
    padding: 10px 10px;
    margin: 8px 20px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

.modify:hover{
    background-color: rgb(1, 87, 121);   
}


.delete{
    background-color: #f83c3c;
    color: white;
    padding: 10px 10px;
    margin: 8px 20px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

.delete:hover{
    background-color: #a12222;
}
.btn-agregarProducto{
    display: flex;
    background-color: #04aff3;
    color: white;
    padding: 10px 10px;
    margin: 60px 100px 0px 100px;
    cursor: pointer;
    border-color: #01648b;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    align-items: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}
.btn-agregarProducto:hover{
    background-color: rgb(1, 87, 121);   
}
.listas{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    border: 1px red;
}

/*El formato de bootstrap no funcionó, asique tuve que modificar el formulario con ids*/

#id_nombre{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#id_precio{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.formulario{
    background-color: #ffffff;
    padding: 50px;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

/*Paginator*/

.contenedor-paginator{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-item:first-child .page-link{
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-link{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ffffff;
    background-color: rgb(77, 155, 81);
    border: 1px solid #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.page-link:hover{
    background-color: rgb(29, 85, 33);
}